<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<table class="table">
        <thead>
          <tr>
            
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">DOb</th>
            <th scope="col">addres</th>
            <th scope="col">gender</th>
          </tr>
        </thead>
        <tbody>
            <%Details.forEach(Details =>{%>
                
                <tr>
                  <th scope="row"><%=Details.name %></th>
                  <th scope="row"><%=Details.email %></th>
                  <th scope="row"><%=Details.dob %></th>
                  <th scope="row"><%=Details.address %></th>
                  <th scope="row"><%=Details.gender %></th>
                  
                </tr>
        
                <%})%>
            </tbody>
            </table>
        </body>
        </html>



         
    